body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Arial', sans-serif;
  color: white;
  text-align: center;
  background: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
}

nav a {
  margin: 0 10px;
  color: #ccc;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

img {
  width: 200px;
  filter: drop-shadow(0 0 20px #fff);
}
